PORT=9090
KEYCLOAK_ISSUER=https://sfa.localtest.me:8443/realms/sfa-mtls-poc
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/sfa-mtls-poc/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=resource-server
REQUIRED_SCOPE=accounts:read
